.TabQuantityAndTaxed{
  display: flex;
  flex-direction: row;
}

.NoBacketMessage{
  margin: auto;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #8a1414;
}

.tableTotalTaxes {
  border-radius: 0;
  margin: 25px 20px 20px 20px;
  background: white;
  height: 70px;
  width: 100%;
  border: #161616 2px solid;
  border-collapse: collapse;
  min-width: 400px;
  .tr {
    background-color: white;
    color: darkblue;
    text-align: center;

    .td {
      border: #161616 2px solid;
      padding: 30px 15px;
      text-align: center;
      column-width: 6rem;
      text-align: center;
    }
  }
}
