.select{
  float: left;
  position: relative;
  padding-left: 10px;
  margin: 10px 10px 10px 10px;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  align-items: center;
  text-align: left;
}
