<div class="content">
    <div>
      <table class="table">
        <tr class="tr">
          <td class="td">
            {{ product.productName === null || product.productName === '' ?  'No Name mentionned' :product.productName}}  </td>
          <td class="td">
            Quantité :  {{ product.quantity }}  </td>
          <td class="td">
            Taxes :  {{ product.taxes | mycurrency }}
          </td>
          <td class="td">
            Prix unitaire TTC :  {{ product.priceTTC  | mycurrency }}
          </td>
          <td class="td">
          <button data-test="order-btn" (click)="deleteAProduct(product)">Delete</button>
          </td>
        </tr>
      </table>

    </div>
</div>
